{% extends 'my_app/base.html' %}
{% load static %}

    {% block body_block %}

        <div class="mt-4 p-5 bg-primary text-white rounded">
            {% if registered %}
                <h1>Thank You for Registering</h1>
            {% else %}
                <h1>Register Here!</h1>
                <p>Fill out the Form.</p>
            {% endif %}
        </div>


        {% if registered == False %}
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" name="" value="Register">
            </form>
        {% endif %}
    {% endblock %}